@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+HU:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+HU:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/white-chalk');


* {
    font-family: "Montserrat", sans-serif;
}

body {
    background: url(../assets/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    /* height: 20%; */
    color: whitesmoke;
    overflow: hidden;
    
}

.classe-jogos button {
    margin-bottom: 20px;
    width: 15vw;
    
}
.classe-jogos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 20px;
}

h1 {
    text-align: center;
}


.digitar, #formDigitar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    flex-direction: column;
}

#textoDigitado {
    /* font-family: "Fredericka the Great", serif; */
    font-family: 'White Chalk', sans-serif;
    /* font-size: 6em; */
    width: 80vw;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid whitesmoke;
    color: whitesmoke;
    border-radius: 20px;
    padding: 15px;
    font-size: 3em;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    transition: 1s;
}

#enviar, button {
    width: 10vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    cursor: pointer;
    transition: 1.3s;
    font-size: 1.2em;
}

#enviar:hover, button:hover {
    transition: 0.3s;
    background-color: black;
    border-radius: 7px;
}

button {
    width: 100%;
}

.area-sorteio, .area-timer {
    width: 13vw;
    text-align: center;
}



.areas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
}

a, a:hover, a:active, a:visited {
    color: white;
    text-decoration: none;
}